<?php
/**
 * Конфигурация секрета вебхука Bitrix24
 * 
 * ИНСТРУКЦИЯ:
 * 1. Скопируйте этот файл: cp webhook-secret.php.example webhook-secret.php
 * 2. Замените 'YOUR_WEBHOOK_SECRET_HERE' на токен, который предоставил Bitrix24
 * 3. Файл webhook-secret.php уже добавлен в .gitignore и не будет попадать в git
 * 
 * Где взять токен:
 * - В настройках исходящего вебхука в Bitrix24
 * - Bitrix24 предоставляет токен при создании вебхука
 */

return 'YOUR_WEBHOOK_SECRET_HERE';


